/* CORE CSS */
body {
    -webkit-perspective: 1000px;
    -moz-perspective: 1000px;
    perspective: 1000px;
    align-items: center;
  }
  /* Container box to set the sides relative to */
  .cube {
    width: 550px;
    height: 200px;
    -webkit-transition: all 250ms ease;
    -moz-transition: all 250ms ease;
    -o-transition: all 250ms ease;
    transition: all 250ms ease;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }
  /* The two faces of the cube */
  .default-state,
  .active-state {
    height: 100px;
  }
  /* Position the faces */
  .default-state {
    -webkit-transform: translateZ(50px);
    -moz-transform: translateZ(50px);
    -ms-transform: translateZ(50px);
    -o-transform: translateZ(50px);
    transform: translateZ(50px);
  }
  .flip-to-top .active-state {
    -webkit-transform: rotateX(90deg) translateZ(150px);
    -moz-transform: rotateX(90deg) translateZ(150px);
    -ms-transform: rotateX(90deg) translateZ(150px);
    -o-transform: rotateX(90deg) translateZ(150px);
    transform: rotateX(90deg) translateZ(150px);
  }
  .flip-to-bottom .active-state {
    -webkit-transform: rotateX(-90deg) translateZ(-50px);
    -moz-transform: rotateX(-90deg) translateZ(-50px);
    -ms-transform: rotateX(-90deg) translateZ(-50px);
    -o-transform: rotateX(-90deg) translateZ(-50px);
    transform: rotateX(-90deg) translateZ(-50px);
  }
  /* Rotate the cube */
  .cube.flip-to-top:hover {
    -webkit-transform: rotateX(-89deg);
    -moz-transform: rotateX(-89deg);
    -ms-transform: rotateX(-89deg);
    -o-transform: rotateX(-89deg);
    transform: rotateX(-89deg);
  }
  .cube.flip-to-bottom:hover {
    -webkit-transform: rotateX(89deg);
    -moz-transform: rotateX(89deg);
    -ms-transform: rotateX(89deg);
    -o-transform: rotateX(89deg);
    transform: rotateX(89deg);
  }
  /* END CORE CSS */
  /* Demo styling */
 
  body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    margin: 70px;
    background-image: url(barLights3.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: bottom;
    width: fit-content;
    box-shadow: 20px 20px 20px 2000px rgba(48, 49, 49, 0.79);
    border: 2px black;
    border-style: groove;
    height: -webkit-fill-available;
}
  h1 {
    font-size: 20px;
    text-align: center;
    margin-top: 40px;
  }
  .cube {
    text-align: center;
    margin: 0 auto;
  }
  .default-state,
  .active-state {
    background:  #79abd2;
    font-size: 16px;
    text-transform: uppercase;
    color: #fff;
    line-height: 100px;
    -webkit-transition: background 250ms ease;
    -moz-transition: background 250ms ease;
    -o-transition: background 250ms ease;
    transition: background 250ms ease;
  }
  .cube:hover .default-state {
    background:  #79abd2;
  }
  .active-state {
    background:  #79abd2;
  }
  #flipto {
    display: block;
    text-align: center;
    text-decoration: none;
    margin-top: 20px;
    color: #ccc;
  }
  
/* --------------- */
.navbar-default {
    background-color: #f8f8f8;
    border-color: #e7e7e7;
    height: 30px;
    width: 75px;
}

.row {
  margin-top: 45px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}
.rowB {
  margin-top: 120px;
  margin-left: 150px;
  margin-right: auto;
  display: flex;
}

/* ----- */
#myCanvas {
   display: block;
  box-shadow: inset 0 0 0 100px #000000d1;
  border-radius: 10px;
  filter: blur(3px);
  position: fixed;
  z-index: 0;
  width: 375px;
  height: 160px;
}

h2 {
  font-size: 28px;
  z-index: 1;
  color: white;
  overflow: overlay;
  margin-left: 15px;
  position: absolute;
}
#button {
  font-size: 1.5em;
  left: 50%;
  width: 200px;
  top: 50%;
  border-radius: 10px;
  color: white;
  text-shadow: -1px -1px 1px rgba(0,0,0,0.8);
  border: 5px solid transparent;
  border-bottom-color: rgba(0,0,0,0.35);
  background: hsl(260, 7%, 29%);
  cursor: pointer;
  outline: 0 !important;
  transition: background 0.4s, border 0.2s, margin 0.2s;
  margin-left: 135px;
}

    #pressMe:hover {
        background: hsla(220, 100%, 60%, 1);
        margin-top: -1px;

        animation: none;
    }
    #pressMe:active {
        border-bottom-width: 0;
        margin-top: 5px;
    }
    @keyframes pulse {
        0% {
            margin-top: 0px;
        }
        100% {
            margin-top: 6px; 
        } 
    } 
